<section class="tagline-split">
  <div class="tagline-text">
    <h2>Coming soon!<br>Stay turned for updates to this page.</h2>
  </div>
  <div class="tagline-image image-frame-trans">
    <img src="/images/construction-image.png" alt="A graphic of a wrench and hammer." />
  </div>
</section>